
body {
margin: 0;
font-family: "Monospace";
background: #0d1117; 
color: #e6e6e6;
line-height: 1.7;
}


/* nav right here*/
nav {
background: #111827; 
padding: 18px 30px;
box-shadow: 0 4px 20px rgba(0,0,0,0.5);
position: sticky;
top: 0;
z-index: 10;
border-bottom: 1px solid #1f2937;
}

nav a {
color: #cbd5e1;
margin-right: 28px;
text-decoration: none;
font-size: 17px;
font-weight: 600;
transition: 0.25s ease;
}

nav a:hover {
color: #60a5fa; 
transform: translateY(-2px);
}


/* nav right here tung tung sahur hero*/
.hero {
width: 100%;
padding: 70px 20px;
text-align: center;
background: #111827;
color: white;
border-bottom: 1px solid #1f2937;
box-shadow: 0 4px 25px rgba(0,0,0,0.4);
}

.hero h1 {
font-size: 44px;
margin: 0;
font-weight: 700;
color: #60a5fa; /* bright blue heading */
}

.hero p {
font-size: 20px;
opacity: 0.85;
margin-top: 10px;
}

/* pages here  */

.container {
max-width: 1000px;
margin: 50px auto;
background: rgba(255, 255, 255, 0.04); /* glass thing*/
padding: 45px;
border-radius: 18px;
box-shadow: 0 10px 35px rgba(0,0,0,0.5);
border: 1px solid #1f2937;
backdrop-filter: blur(6px);
animation: fadeIn 0.6s ease;
}

/* heading */

h1 {
color: #60a5fa; /*bright blue*/
margin-top: 0;
font-size: 34px;
}

h2 {
color: #93c5fd; /* soft blue*/
margin-top: 35px;
font-size: 26px;
border-bottom: 2px solid #1f2937;
padding-bottom: 6px;
}

/* lists */

ul li {
margin-bottom: 12px;
font-size: 17px;
}

/* slop */

.info-box {
background: rgba(96, 165, 250, 0.12); /* soft blue tint */
border-left: 6px solid #60a5fa;
padding: 18px 22px;
margin: 25px 0;
border-radius: 12px;
font-size: 17px;
box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.highlight {
background: rgba(255, 200, 80, 0.15);
border-left: 6px solid #facc15;
padding: 18px 22px;
margin: 25px 0;
border-radius: 12px;
font-size: 17px;
box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

/*IFRAMEs aba!??? */

iframe {
border-radius: 14px;
border: 2px solid #1f2937;
transition: 0.3s ease;
}

iframe:hover {
transform: scale(1.01);
box-shadow: 0 6px 25px rgba(0,0,0,0.5);
}

/*hell*/

@keyframes fadeIn {
from { opacity: 0; transform: translateY(12px); }
to { opacity: 1; transform: translateY(0); }
}
